{% extends "base.html.twig" %}

{% block body %}
<div class="well container" id="articleDetail">        
    <div class="col-md-6">
        <img src="{{ vich_uploader_asset(article.article, 'imageFile') }}" alt="{{ article.article.imageurl }}"/>       
    </div>
     <div class="col-md-0">
        <input type="hidden" id="idArticle" value="{{article.article.id}}"/>
        <input type="hidden" id="idArticleVendeur" value="{{article.id}}"/>
     </div>
     <div class="col-md-0">
        <input type="hidden" id="idClient" value="{{idClient}}"/>
     </div>
     <div class="col-md-0">
        <input type="hidden" id="idVendeur" value="{{article.vendeur.id}}"/>
     </div>
    <div class="col-md-6">
        <h1 id="titreDetail">{{article.article.designation}}<small><span class="glyphicon" id="btnAjoutPanier"></span><!--<button id="ButtonAjoutPanier" name="{{article.article.id}}" onclick="ajoutPanier()">Ajouter au panier</button>--></small></h1>
        <h3>{{article.prix}} €</h3>
        <span><em><small>Vendeur:</small>{{article.vendeur.nomVendeur}}</em></span>
        {# {{dump(articleAutreVendeur)}} #}
        {% if articleAutreVendeur|length > 1 %}
            <h4>Vendu aussi par</h4>
            {% for item in articleAutreVendeur %}
                {% if item.vendeur.id != idVendeur %}
                    <span class="col-md-12"><a  href="detail?idArticle={{item.article.id}}&idVendeur={{item.vendeur.id}}">{{item.vendeur.nomVendeur}}</a> {{item.prix}} €<span>
                {% endif %} 
            {% endfor %}
        {% endif %}  
    </div>
    <div id="descriptionArticle" class="col-md-12">
        <h3>Description de l'article :</h3>
        <p>{{article.article.description}}</p>            
    </div>
    <div id="commentaire" class="col-md-12">
        <h3>Commentaires :</h3>
        <div>
            
        </div>
    </div>
</div>	
{% endblock %}