{% extends "base.html.twig" %}

{% block title %}
	MyMarket
{% endblock %}

{% block body %} 
{% if app.environment=="env" %}
    {% set baseUrl="app_dev.php/" %}
{% else %}
    {% set baseUrl="" %}
{% endif %}
<div class="container-fluid" id="sliderContainer" style="display: none;">
    <div class="col-md-12 col-md-offset-0 nopadding row" id="mainSlider">
        {% for item in articlesSlide %}
            <li id="listSlide" class="col-md-3" ><a href="detail?idArticle={{item.article.id}}&idVendeur={{item.vendeur.id}}"> <img src="{{ vich_uploader_asset(item.article, 'imageFile') }}"></a>
            
            <span class="slideTextPrix">
                {{item.prix|number_format(2, ',', '.')}}€ 
            </span>
            <span class="slideTextDesignation">
                {{item.article.designation|truncate(20,true)}} </span>
            </span>
            
            
            </li>            
        {% endfor %}
    </div>
</div>
{# {{ include('slide/slide.html.twig')}} #}
<div class="container-fluid" id="articlesList">
    <div class="row" id="articlesListHead">
        <h2 class="col-md-3">Nos articles(<span id="nbArticle">{{nbArticle}}</span><span class="hidden" id="ArticleListPage">{{page}}</span><span class="hidden" id="ArticleListLimit">{{limit}}</span>)</h2>
        <div class="col-md-3 col-md-offset-6" id="tri"><strong>Trier par prix : </strong><button class="btn asc"  title="Trier du moins au plus cher"><span class="glyphicon glyphicon-arrow-up"></span></button>  <button class="btn desc"  title="Trier du plus cher au moin cher"><span class="glyphicon glyphicon-arrow-down"></span></button></div>
    </div>
    <div class="row" id="articles">
        {{ include('app/articleList.html.twig') }}
    </div>
    <div class="row" id="articlesListFoot">
        <div class="col-md-offset-6">
            <button class="btn pageChange prec">Précédent</button>
            <button class="btn pageChange suiv">Suivant</button>
        </div>
    </div>
</div>
{% endblock %}